Repository Normation/rudder-plugins, pull requests merged in 2021-06, with the labels that each got.

#377 Fixes #19352: Illegal address when no replyTo configured
  change-validation/pom-template.xml
  change-validation/src/main/scala/bootstrap/rudder/plugin/ChangeValidationConf.scala
  change-validation/src/main/scala/com/normation/plugins/changevalidation/NotificationService.scala
  change-validation/src/test/resources/emails/change-validation-email.conf
  change-validation/src/test/scala/com/normation/plugins/changevalidation/TestEmailService.scala
  change-validation/src/test/scala/com/normation/plugins/changevalidation/placeholder
Labels: Trigger test

#379 Fixes #19384: Notification plugin fails on python3
  notify/share/python/notifyd.py
Labels: Trigger test

#381 Fixes #19401: Add an ldapsearch example in config file for LDAP auth
  auth-backends/README.adoc
Labels: Trigger test, qa: Can't merge

#382 Fixes #19418: Typo on Plugin Documentation
  vault/README.adoc
Labels: Trigger test, qa: Can't merge

#384 Fixes #19439: Add python and shell linters on plugins
  .gitignore
  Jenkinsfile
  centreon/share/python/ipaddress.py
  notify/share/python/glpi.py
  notify/share/python/notify.py
  qa-test
  zabbix/bin/zabbix-plugin.py
Labels: Trigger test, qa: Can't merge

#385 Fixes #19446: Document OpenSCAP on Ubuntu/Debian
  openscap/README.adoc
  openscap/README.asciidoc
  qa-test
Labels: Ready for merge, Trigger test, qa: Can't merge
